body {
  background-color: #f1f1f1;
  text-align: center;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 80%;
  max-width: 650px;
  max-height: 700px;
  padding: 4rem 4rem 0.5rem 4rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-image {
  height: 75%
}

.card-text {
  height: 25;
  width: 100%
}

.caption-container {
  display: flex;
  width: 100%
}

/*TYPOGRAPHY*/

.text-center { text-align: center; }

.header-text {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: #DB4E44;
  margin-bottom: 0;
}

.caption {
  font-style: italic;
  padding: 0;
  border: none;
  width: 100%;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.caption:focus {
  border: none;
}
