body {
  background-color: #f1f1f1;
  font-family: 'Josefin Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.header {
  font-weight: 300;
  color: #DB4E44;
  margin-bottom: 0;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  width: 90%;
  height: 70%;
  max-width: 750px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  background-size: cover;
  background-repeat: no-repeat;
}

.cartoon-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@media (orientation: landscape) {
  .card {
    width: 55%;
  }
  .cartoon-image {
    height: 100%;
    width: auto;
  }
}

.card-text {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}

.caption {
  font-family: 'EB Garamond', Times, Georgia, serif;
  font-style: italic;
}
/*.caption {
  font-style: italic;
  padding: 0;
  border: none;
  width: 100%;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.caption:focus {
  border: none;
}*/
